@{
    ViewData["Title"] = "Home Page";
}

  <div class="jumbotron jumbotron-fluid bg-light">
  <h1 class="display-4">Hola a todos!</h1>
  <p class="lead">Esta es uns API que convierte texto a voz utilizando Google Cloud. Se genera un archivo de audio con las caracteristicas necesarias para ser cargado en la planta Avaya de Infotrans.</p>
  <hr class="my-4">
  <p>Text-to-Speech permite a los desarrolladores crear voz humana sintética con sonido natural como audio reproducible.</p>
  <a class="btn btn-primary btn-lg" href="https://cloud.google.com/text-to-speech/docs/apis" target="_blank" role="button">Learn more</a>
</div>

		
   <!-- CAROUSEL-->
    <div id="mainSlider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item ">
            <img src="~/Images/NetCore.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="~/Images/GoogleText.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="~/Images/Swagger.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
    </div>
    <!-- CAROUSEL-->
  
   


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div class="row mt-3">
			<div class="col-12 mt-3">
				<div class="carousel slide" id="secondary-carousel" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#secondary-carousel" data-slid-to="0" class="active"></li>
						<li data-target="#secondary-carousel" data-slid-to="1"></li>
						<li data-target="#secondary-carousel" data-slid-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="carousel-caption d-block">
								<h4>Titulo de la Imagen</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus!</p>
							</div>
							<img src="~/Images/GoogleText.jpg" alt="">
						</div>
						<div class="carousel-item">
							<div class="carousel-caption d-block">
								<h4>Titulo de la Imagen</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus!</p>
							</div>
							<img src="~/Images/NetCore.jpg" alt="">
						</div>
						<div class="carousel-item">
							<div class="carousel-caption d-block">
								<h4>Titulo de la Imagen</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, possimus!</p>
							</div>
							<img src="~/Images/Swagger.jpg" alt="">
						</div>
					</div>

					<a href="#secondary-carousel" class="carousel-control-prev" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>

					<a href="#secondary-carousel" class="carousel-control-next" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div>
			</div>
		</div>*@

